{% extends 'base/base.html' %}

{% block title %} {{ project.title }} {% endblock title %}

{% block container %}
    <div class='row mt-5'> 
        <div>
            <h1> {{ project.title }} </h1>
            <p> 
                <a href="{% url 'projects:my_projects' %}"> Regresar </a> 
                {% if has_permission %}
                <a href="{% url 'projects:edit'  project.slug %}" class="btn btn-secondary">Editar</a>
                <a href="{% url 'projects:contributors' project.slug %}" class="btn btn-secondary">Colaboradores</a>
                {% endif %}
            </p>
            <p class=""> {{ project.description }} </p>
            <p> <small> {{ project.created }} - {{ project.dead_line }} </small> </p>
        </div>
    </div>

{% endblock container %}