<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>cfAdmin - Create</title>
</head>
<body>
    <div class="container">
        <h1>Create</h1>

        <form class="form" method="post">
            {% csrf_token %}

            {% if message %} 
            <p class='alert alert-danger'> {{ message }} </p>
            {% endif %}

            {% for field in form %}
                <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                </div>
            {% endfor %}
    
            <button class="btn btn-primary" type="submit">Crear</button>
        </form>
    </div>
</body>
</html>