{% extends 'base/base.html' %}

{% block title %} Edit client {% endblock title %}

{% block container %}
        <h1> Cliente </h1>
        <p> <a href="{% url 'clients:dashboard' %}"> Regresar </a> </p>

        <form class="form" method="post">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                        <p class='alert alert-success'> {{ message }} </p>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% include 'includes/_forms.html' with form=user_form%}
            {% include 'includes/_forms.html' with form=client_form%}
    
            <button class="btn btn-primary" type="submit">  Guardar</button>
            
        </form>
{% endblock container %}
