{% extends 'base/base.html' %}

{% block title %} edit password {% endblock title %}

{% block container %}
    <h1>Edit password</h1> <a href="{% url 'clients:dashboard' %}"> Regresar </a>

    <form class="form mt-5" method="post">
        {% csrf_token %}

        {% if message %} 
        <p class='alert alert-success'> {{ message }} </p>
        {% endif %}

        {% for field in form %}
            <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            </div>
        {% endfor %}
    
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock container %}