{% extends 'base/base.html' %}

{% block title %} edit user {% endblock title %}

{% block container %}
        <h1> Edit profile </h1>
        <p> <a href="{% url 'clients:dashboard' %}"> Regresar </a> </p>

        <div>
            <p>
                <a href="{% url 'clients:edit_social' %}" class="btn btn-primary"> Editar redes sociales </a>
                <a href="{% url 'clients:edit_password' %}" class="btn btn-primary"> Cambiar contraseña </a> 
            </p>
        </div>

        <form class="form" method="post">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                        <p class='alert alert-success'> {{ message }} </p>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% for field in form %}
                <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                </div>
            {% endfor %}
    
            <button class="btn btn-primary" type="submit">  Guardar</button>
            
        </form>
{% endblock container %}
